.nav {
	height: 100px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	padding-right: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid black;
}

.newBtn {
	border: 1px solid black;
	background-color: transparent;
	padding: 20px;
	border-radius: 10px;
	cursor: pointer;
	font-weight: bold;
}

.graph {
	height: fit-content;
	width: 80vw;
	border: 1px solid black;
	border-radius: 20px;
	margin: 20px;
	display:flex;
  flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
  z-index: -100;
}

.graphDesignerContainer {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.graphDesigner {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	width: 600px;
	height: max-content;
	border: 1px solid black;
	position: fixed;
	top: 20px;
	left: 20px;
	border-radius: 40px;
	background-color: white;
	padding: 20px;
  z-index: 1000;
}

.gDCloseBtnContainer,
.gDAddBtnContainer {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	width: 100%;
  margin-top: 20px;
}

.gDAddBtn,
.gDCloseBtn {
	border: 1px solid black;
	background-color: transparent;
	border-radius: 4px;
	cursor: pointer;
	font-weight: bold;
	padding: 20px;
}

/* .gDAddBtn {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	margin: 20px;
} */

.form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.paramsSelected {
  margin-top: 20px;
}

.chart {
  width: 70vw;
  height: 50vw;
}